<body>
  <form #form="ngForm" (ngSubmit)="addTutorial(form)">
    <input type="text" name="title" ngModel />
    <input type="text" name="description" ngModel />
    <button type="submit">Save Data</button>
  </form>
  <ul>
    <li *ngFor="let data of tutorials$ | async">
      {{ data.title }} / {{ data.description }} / {{ data.id }}
      <button (click)="deleteTutorial(data.id)">Delete</button>
      <button (click)="getTutorial(data.id)">Check Tutorial</button>
    </li>
  </ul>
  <section *ngIf="tutorial$ | async as tutorial">
    <h2>{{ tutorial.title }}</h2>
    <form #edit="ngForm" (ngSubmit)="updateTutorial(tutorial.id, edit)">
      <input type="text" name="title" [(ngModel)]="tutorial.title" />
      <input
        type="text"
        name="description"
        [(ngModel)]="tutorial.description"
      />
      <button type="submit">Save Changes</button>
    </form>
  </section>
</body>
